<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.itheima.dao.impl.BookDaoImpl" id="bookDao">
        <property name="booklist">
            <list>
                <value>"天龙八部"</value>
                <value>"遮天"</value>
                <value>"葵花宝典"</value>
            </list>
        </property>
    </bean>
    <bean class="com.itheima.dao.impl.UserDaoImpl" id="userDao">
        <property name="username" value="张三"/>
    </bean>
    <bean class="com.itheima.factory.OrderDaoFactory" id="orderDao"/>

    <bean class="com.itheima.service.impl.BookServiceImpl" id="bookService">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>


</beans>